.realfactory-body h1, .realfactory-body h2, .realfactory-body h3, .realfactory-body h4, .realfactory-body h5, .realfactory-body h6{ margin-top: 0px; margin-bottom: 20px; line-height: 1.2; font-weight: 700; }
#poststuff .gdlr-core-page-builder-body h2{ padding: 0px; margin-bottom: 20px; line-height: 1.2; font-weight: 700; }
#poststuff .gdlr-core-page-builder-body h1{ padding: 0px; font-weight: 700; }

/* custom style for specific theme */
.gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-title{ font-size: 17px; font-weight: 500; letter-spacing: 0px; text-transform: none; }
.gdlr-core-button{ text-transform: none; letter-spacing: 0.5px; }
.gdlr-core-blog-date-wrapper{ margin-top: 0px; border-right-width: 3px; padding-bottom: 18px; padding-right: 25px; width: 63px; }
.gdlr-core-blog-date-wrapper .gdlr-core-blog-date-day{ letter-spacing: 1px; margin-top: 0px; }
.gdlr-core-blog-info-wrapper .gdlr-core-blog-info{ font-size: 14px; text-transform: none; font-weight: 500; letter-spacing: 0px; }
.gdlr-core-blog-list .gdlr-core-blog-title{ margin-bottom: 0px; margin-top: 10px; font-size: 15px; font-weight: 500; letter-spacing: 0px; }
.gdlr-core-blog-list .gdlr-core-blog-list-frame{ padding: 26px 30px 27px; }
.gdlr-core-blog-full{ margin-bottom: 55px; }
.gdlr-core-blog-full .gdlr-core-excerpt-read-more{ margin-top: 25px; }
.gdlr-core-blog-full .gdlr-core-blog-title{ font-size: 32px; margin-bottom: 0px; }
.gdlr-core-blog-full .gdlr-core-blog-info-wrapper{ margin-bottom: 10px; }
.gdlr-core-blog-full .gdlr-core-blog-info-wrapper .gdlr-core-blog-info{ font-size: 15px; }
.gdlr-core-style-blog-full-with-frame .gdlr-core-blog-full-frame{ padding: 50px 50px 25px; }
.gdlr-core-blog-grid .gdlr-core-blog-title{ font-size: 24px; }
.gdlr-core-blog-grid .gdlr-core-blog-info-wrapper{ padding-top: 0px; border: 0px; margin-bottom: 10px; }
.gdlr-core-blog-grid .gdlr-core-excerpt-read-more{ display: inline-block; }
.gdlr-core-blog-grid .gdlr-core-blog-content{ margin-bottom: 20px; }
.gdlr-core-excerpt-read-more i{ margin-left: 15px; }
.gdlr-core-excerpt-read-more{ font-size: 16px; font-weight: 500; display: inline-block; margin-top: 24px; }
.gdlr-core-testimonial-item .gdlr-core-testimonial-content{ font-style: normal; }
.gdlr-core-testimonial-style-center .gdlr-core-testimonial-quote{ display: none; }
.gdlr-core-flexslider .flex-control-nav{ margin-top: 20px; }
.gdlr-core-flexslider[data-nav-parent="gdlr-core-portfolio-item"]{ position: static; }
.gdlr-core-flexslider[data-nav-parent="gdlr-core-portfolio-item"] .flex-direction-nav li{ margin-top: -30px; }
.gdlr-core-flexslider[data-nav-parent="gdlr-core-portfolio-item"] .flex-direction-nav li a{ border-radius: 0px; padding: 16px 14px; }
.gdlr-core-flexslider[data-nav-parent="gdlr-core-portfolio-item"] .flex-direction-nav li a i{ font-size: 28px; width: 28px; }
.gdlr-core-flexslider[data-nav-parent="gdlr-core-portfolio-item"] .flex-direction-nav .flex-nav-prev{ left: 0px; }
.gdlr-core-flexslider[data-nav-parent="gdlr-core-portfolio-item"] .flex-direction-nav .flex-nav-next{ right: 0px; }
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-title{ font-size: 16px; letter-spacing: 1px; font-weight: 400; }
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info{ font-size: 14px; font-style: normal; }
.gdlr-core-portfolio-thumbnail.gdlr-core-style-title-tag .gdlr-core-portfolio-info{ margin-top: 12px; }
.gdlr-core-portfolio-thumbnail.gdlr-core-style-title-icon .gdlr-core-portfolio-title{ margin-bottom: 20px; }
.gdlr-core-portfolio-thumbnail.gdlr-core-style-icon-title-tag .gdlr-core-portfolio-title{ margin-top: 20px; }
.gdlr-core-portfolio-thumbnail.gdlr-core-style-margin-icon-title-tag .gdlr-core-portfolio-title{ margin-top: 20px; }
.gdlr-core-portfolio-medium .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info{ font-size: 14px; }
.gdlr-core-portfolio-grid .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info{ font-size: 14px; font-style: normal; }
.gdlr-core-portfolio-slider-widget-wrap{ padding-top: 0; margin-top: -10px; }
.gdlr-core-recent-portfolio-widget{ max-width: 80px; margin-right: 15px; margin-bottom: 15px; }
.gdlr-core-title-item.gdlr-core-left-align .gdlr-core-title-item-link:after{ font-family: "fontAwesome"; margin-left: 10px; content: "\f178"; vertical-align: middle; }
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-title{ padding: 7px 13px 7px 17px; margin-top: -4px; }
.gdlr-core-product-item.woocommerce .gdlr-core-product-thumbnail-info i{ font-size: 13px; margin-right: 7px; }
.gdlr-core-product-item.woocommerce .gdlr-core-product-thumbnail-info > a{ font-size: 12px; }
span.gdlr-core-counter-item-suffix{ font-weight: 700; }
span.gdlr-core-counter-item-count{ font-weight: 700; }
body.realfactory-boxed .realfactory-body-wrapper{ margin-top: 0px; margin-bottom: 0px; } 
.realfactory-body-wrapper.realfactory-with-frame, body.realfactory-full .realfactory-fixed-footer{ margin: 0px; } 
body.realfactory-boxed.realfactory-background-pattern .realfactory-body-outer-wrapper{ background-image: url(http://vulcan.technochords.com/wp-content/plugins/goodlayers-core/include/images/pattern/pattern-1.png); } 
.realfactory-item-pdlr, .gdlr-core-item-pdlr{ padding-left: 15px; padding-right: 15px; }.realfactory-item-rvpdlr, .gdlr-core-item-rvpdlr{ margin-left: -15px; margin-right: -15px; }.gdlr-core-metro-rvpdlr{ margin-top: -15px; margin-right: -15px; margin-bottom: -15px; margin-left: -15px; }.realfactory-item-mglr, .gdlr-core-item-mglr, .realfactory-navigation .sf-menu > .realfactory-mega-menu .sf-mega{ margin-left: 15px; margin-right: 15px; } 
.realfactory-container, .gdlr-core-container, body.realfactory-boxed .realfactory-body-wrapper, body.realfactory-boxed .realfactory-fixed-footer .realfactory-footer-wrapper, body.realfactory-boxed .realfactory-fixed-footer .realfactory-copyright-wrapper{ max-width: 1180px; } 
.realfactory-body-front .gdlr-core-container, .realfactory-body-front .realfactory-container{ padding-left: 15px; padding-right: 15px; }.realfactory-body-front .realfactory-container .realfactory-container, .realfactory-body-front .realfactory-container .gdlr-core-container, .realfactory-body-front .gdlr-core-container .gdlr-core-container{ padding-left: 0px; padding-right: 0px; } 
.realfactory-top-bar-container.realfactory-top-bar-custom-container{ max-width: 1140px; } 
.realfactory-top-bar-container.realfactory-top-bar-full{ padding-right: 15px; padding-left: 15px; } 
.realfactory-top-bar{ padding-top: 16px; } 
.realfactory-top-bar{ padding-bottom: 14px; } 
.realfactory-top-bar{ font-size: 15px; } 
.realfactory-top-bar{ border-bottom-width: 0px; } 
.realfactory-header-style-plain{ border-bottom-width: 0px; } 
.realfactory-header-background-transparent .realfactory-top-bar-background{ opacity: 0.56; } 
.realfactory-header-background-transparent .realfactory-header-background{ opacity: 0; } 
.realfactory-navigation-bar-wrap.realfactory-style-transparent .realfactory-navigation-background{ opacity: 0.82; } 
.realfactory-header-boxed-wrap .realfactory-top-bar-background{ opacity: 0; } 
.realfactory-header-boxed-wrap .realfactory-top-bar-background{ margin-bottom: -0px; } 
.realfactory-header-style-boxed{ margin-top: 0px; } 
.realfactory-header-container.realfactory-header-custom-container{ max-width: 110px; } 
.realfactory-header-container.realfactory-header-full{ padding-right: 90px; padding-left: 90px; } 
.realfactory-header-boxed-wrap .realfactory-header-background{ border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; } 
.realfactory-header-style-boxed .realfactory-header-container-item{ padding-left: 30px; padding-right: 30px; }.realfactory-navigation-right{ right: 30px; } .realfactory-navigation-left{ left: 30px; } 
.realfactory-header-style-plain.realfactory-style-splitted-menu .realfactory-navigation .sf-menu > li > a{ padding-top: 0px; } .realfactory-header-style-plain.realfactory-style-splitted-menu .realfactory-main-menu-left-wrap,.realfactory-header-style-plain.realfactory-style-splitted-menu .realfactory-main-menu-right-wrap{ padding-top: 0px; } 
.realfactory-header-style-boxed.realfactory-style-splitted-menu .realfactory-navigation .sf-menu > li > a{ padding-top: 0px; } .realfactory-header-style-boxed.realfactory-style-splitted-menu .realfactory-main-menu-left-wrap,.realfactory-header-style-boxed.realfactory-style-splitted-menu .realfactory-main-menu-right-wrap{ padding-top: 0px; } 
.realfactory-navigation .sf-menu > li{ padding-left: 18px; padding-right: 18px; } 
.realfactory-header-side-nav{ width: 340px; }.realfactory-header-side-content.realfactory-style-left{ margin-left: 340px; }.realfactory-header-side-content.realfactory-style-right{ margin-right: 340px; } 
.realfactory-header-side-nav.realfactory-style-side{ padding-left: 70px; padding-right: 70px; }.realfactory-header-side-nav.realfactory-style-left .sf-vertical > li > ul.sub-menu{ padding-left: 70px; }.realfactory-header-side-nav.realfactory-style-right .sf-vertical > li > ul.sub-menu{ padding-right: 70px; } 
 .realfactory-navigation .sf-vertical > li{ padding-top: 16px; padding-bottom: 16px; } 
.realfactory-header-style-bar .realfactory-logo-right-text{ padding-top: 71px; } 
.realfactory-logo{ padding-top: 0px; } 
.realfactory-logo{ padding-bottom: 12px; } 
.realfactory-logo-inner{ max-width: 110px; } 
.realfactory-navigation{ padding-top: 25px; }.realfactory-navigation-top{ top: 25px; } 
.realfactory-navigation .sf-menu > li > a{ padding-bottom: 20px; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-title-content{ padding-top: 58px; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-title-content{ padding-bottom: 205px; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-caption{ margin-top: 13px; } 
.realfactory-page-title-wrap .realfactory-page-title{ text-transform: none; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-title{ font-size: 29px; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-title{ letter-spacing: 0px; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-caption{ font-size: 18px; } 
.realfactory-page-title-wrap.realfactory-style-custom .realfactory-page-caption{ letter-spacing: 0px; } 
.realfactory-page-title-wrap .realfactory-page-title-overlay{ opacity: 0; } 
.realfactory-not-found-wrap .realfactory-not-found-background{ opacity: 0.27; } 
.realfactory-blog-title-wrap.realfactory-style-custom .realfactory-blog-title-content{ padding-top: 93px; } 
.realfactory-blog-title-wrap.realfactory-style-custom .realfactory-blog-title-content{ padding-bottom: 87px; } 
.realfactory-blog-title-wrap .realfactory-blog-title-overlay{ opacity: 0.5; } 
body.single-post .realfactory-sidebar-style-none, body.blog .realfactory-sidebar-style-none{ max-width: 900px; } 
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-icon{ font-size: 22px; } 
.realfactory-footer-wrapper{ padding-top: 70px; } 
.realfactory-footer-wrapper{ padding-bottom: 50px; } 
.realfactory-copyright-text{ padding-top: 30px; } 
.realfactory-copyright-text{ padding-bottom: 30px; } 
.realfactory-body h1, .realfactory-body h2, .realfactory-body h3, .realfactory-body h4, .realfactory-body h5, .realfactory-body h6, .realfactory-body .realfactory-title-font,.realfactory-body .gdlr-core-title-font{ font-family: "Hind", sans-serif; }.woocommerce-breadcrumb, .woocommerce span.onsale, .single-product.woocommerce div.product p.price .woocommerce-Price-amount, .single-product.woocommerce #review_form #respond label{ font-family: "Hind", sans-serif; } 
.realfactory-navigation .sf-menu > li > a, .realfactory-navigation .sf-vertical > li > a, .realfactory-navigation-font{ font-family: "Hind", sans-serif; } 
.realfactory-body, .realfactory-body .gdlr-core-content-font, .realfactory-body input, .realfactory-body textarea, .realfactory-body button, .realfactory-body select, .realfactory-body .realfactory-content-font, .gdlr-core-audio .mejs-container *{ font-family: "Hind", sans-serif; } 
.realfactory-body .gdlr-core-info-font, .realfactory-body .realfactory-info-font{ font-family: "Hind", sans-serif; } 
.realfactory-body .gdlr-core-blog-info-font, .realfactory-body .realfactory-blog-info-font{ font-family: "Hind", sans-serif; } 
.realfactory-body .gdlr-core-quote-font{ font-family: "Droid Serif", serif; } 
.realfactory-body h1{ font-size: 52px; } 
.realfactory-body h2, #poststuff .gdlr-core-page-builder-body h2{ font-size: 48px; } 
.realfactory-body h3{ font-size: 36px; } 
.realfactory-body h4{ font-size: 28px; } 
.realfactory-body h5{ font-size: 22px; } 
.realfactory-body h6{ font-size: 18px; } 
.realfactory-navigation .sf-menu > li > a, .realfactory-navigation .sf-vertical > li > a{ font-size: 14px; } 
.realfactory-navigation .sf-menu > li > a{ font-weight: 600; } 
.realfactory-navigation .sf-menu > li > a{ text-transform: uppercase; } 
.realfactory-body{ font-size: 15px; } 
.realfactory-body, .realfactory-body p, .realfactory-line-height, .gdlr-core-line-height{ line-height: 1.7; } 
.realfactory-page-preload{ background-color: #ffffff; } 
.realfactory-top-bar-background{ background-color: #ededed; } 
.realfactory-body .realfactory-top-bar{ border-bottom-color: #ffffff; } 
.realfactory-top-bar{ color: #727272; } 
.realfactory-body .realfactory-top-bar a{ color: #ffffff; } 
.realfactory-body .realfactory-top-bar a:hover{ color: #ffffff; } 
.realfactory-top-bar .realfactory-top-bar-right-social a{ color: #2e2e2e; } 
.realfactory-top-bar .realfactory-top-bar-right-social a:hover{ color: #e44444; } 
.realfactory-header-background, .realfactory-sticky-menu-placeholder, .realfactory-header-style-boxed.realfactory-fixed-navigation{ background-color: #ffffff; } 
.realfactory-header-wrap.realfactory-header-style-plain{ border-color: #e8e8e8; } 
.realfactory-logo-right-block .realfactory-logo-right-block-icon, .realfactory-logo-right-block .realfactory-logo-right-block-title{ color: #191919; } 
.realfactory-logo-right-block .realfactory-logo-right-block-caption{ color: #929292; } 
.realfactory-body .realfactory-header-right-button{ color: #1c1c1c; } 
.realfactory-body .realfactory-header-right-button{ background-color: #f8c12c; border-color: #f8c12c; } 
.realfactory-navigation-background{ background-color: #000000; } 
.realfactory-navigation .realfactory-navigation-slide-bar{ border-color: #ffbe32; }.realfactory-navigation .realfactory-navigation-slide-bar:before{ border-bottom-color: #ffbe32; } 
.realfactory-header-side-nav.realfactory-style-side-toggle .realfactory-logo{ background-color: #ffffff; } 
.realfactory-main-menu-search i, .realfactory-main-menu-cart i{ color: #ffffff; } 
.realfactory-main-menu-cart > .realfactory-top-cart-count{ background-color: #e8b62d; } 
.realfactory-main-menu-cart > .realfactory-top-cart-count{ color: #ffffff; } 
.realfactory-top-menu-button i, .realfactory-mobile-menu-button i{ color: #ffffff; }.realfactory-mobile-button-hamburger:before, .realfactory-mobile-button-hamburger:after, .realfactory-mobile-button-hamburger span{ background: #ffffff; } 
.realfactory-main-menu-right .realfactory-top-menu-button, .realfactory-mobile-menu .realfactory-mobile-menu-button{ border-color: #ffffff; } 
.realfactory-mobile-header .realfactory-mobile-menu-button i, .realfactory-mobile-header .realfactory-main-menu-search i, .realfactory-mobile-header .realfactory-main-menu-cart i{ color: #383838; }.realfactory-mobile-header .realfactory-mobile-button-hamburger:before, .realfactory-mobile-header .realfactory-mobile-button-hamburger:after, .realfactory-mobile-header .realfactory-mobile-button-hamburger span{ background: #383838; } 
.realfactory-mobile-menu .realfactory-mobile-menu-button{ border-color: #dddddd; } 
.realfactory-top-search-wrap{ background-color: #000000; background-color: rgba(0, 0, 0, 0.88); } 
.realfactory-top-cart-content-wrap .realfactory-top-cart-content{ background-color: #303030; } 
.realfactory-top-cart-content-wrap .realfactory-top-cart-content span, .realfactory-top-cart-content-wrap .realfactory-top-cart-content span.woocommerce-Price-amount.amount{ color: #b5b5b5; } 
.realfactory-top-cart-content-wrap .realfactory-top-cart-button,.realfactory-top-cart-content-wrap .realfactory-top-cart-button:hover{ color: #ffffff; } 
.realfactory-top-cart-content-wrap .realfactory-top-cart-checkout-button, .realfactory-top-cart-content-wrap .realfactory-top-cart-checkout-button:hover{ color: #f8c12c; } 
.realfactory-body .realfactory-breadcrumbs{ background-color: #efefef; } 
.realfactory-body .realfactory-breadcrumbs, .realfactory-body .realfactory-breadcrumbs a span{ color: #898989; } 
.realfactory-body .realfactory-breadcrumbs span, .realfactory-body .realfactory-breadcrumbs a:hover span{ color: #545454; } 
.sf-menu > li > a, .sf-vertical > li > a{ color: #000000; } 
.sf-menu > li > a:hover, .sf-menu > li.current-menu-item > a, .sf-menu > li.current-menu-ancestor > a, .sf-vertical > li > a:hover, .sf-vertical > li.current-menu-item > a, .sf-vertical > li.current-menu-ancestor > a{ color: #dd9933; } 
.sf-menu > .realfactory-normal-menu li, .sf-menu > .realfactory-mega-menu > .sf-mega, .sf-vertical ul.sub-menu li, ul.sf-menu > .menu-item-language li{ background-color: #0e0e0e; } 
.sf-menu > li > .sub-menu a, .sf-menu > .realfactory-mega-menu > .sf-mega a, .sf-vertical ul.sub-menu li a{ color: #bebebe; } 
.sf-menu > li > .sub-menu a:hover, .sf-menu > li > .sub-menu .current-menu-item > a, .sf-menu > li > .sub-menu .current-menu-ancestor > a, .sf-menu > .realfactory-mega-menu > .sf-mega a:hover, .sf-menu > .realfactory-mega-menu > .sf-mega .current-menu-item > a, .sf-vertical > li > .sub-menu a:hover, .sf-vertical > li > .sub-menu .current-menu-item > a, .sf-vertical > li > .sub-menu .current-menu-ancestor > a{ color: #ffffff; } 
.sf-menu > li > .sub-menu a:hover, .sf-menu > li > .sub-menu .current-menu-item > a, .sf-menu > li > .sub-menu .current-menu-ancestor > a, .sf-menu > .realfactory-mega-menu > .sf-mega a:hover, .sf-menu > .realfactory-mega-menu > .sf-mega .current-menu-item > a, .sf-vertical > li > .sub-menu a:hover, .sf-vertical > li > .sub-menu .current-menu-item > a, .sf-vertical > li > .sub-menu .current-menu-ancestor > a{ background-color: #0e0e0e; } 
.realfactory-navigation .sf-menu > .realfactory-mega-menu .sf-mega-section-inner > a{ color: #ffffff; } 
.realfactory-navigation .sf-menu > .realfactory-mega-menu .sf-mega-section{ border-color: #303030; } 
ul.mm-listview li a{ border-color: #979797; }.mm-arrow:after, .mm-next:after, .mm-prev:before{ border-color: #979797; } 
.mm-navbar .mm-title, .mm-navbar .mm-title:hover, .mm-navbar .mm-btn, .mm-navbar .mm-btn:hover, ul.mm-listview li a:hover, ul.mm-listview li.current-menu-item a, ul.mm-listview li.current-menu-ancestor a{ color: #ffffff; } 
.mm-menu{ background-color: #1f1f1f; } 
ul.mm-listview li{ border-color: #626262; } 
.realfactory-overlay-menu-content{ background-color: #000000; background-color: rgba(0, 0, 0, 0.88); } 
.realfactory-overlay-menu-content ul.menu > li, .realfactory-overlay-menu-content ul.sub-menu ul.sub-menu{ border-color: #424242; } 
.realfactory-overlay-menu-content ul li a, .realfactory-overlay-menu-content .realfactory-overlay-menu-close{ color: #ffffff; } 
.realfactory-overlay-menu-content ul li a:hover{ color: #a8a8a8; } 
.realfactory-bullet-anchor a:before{ background-color: #777777; } 
.realfactory-bullet-anchor a:hover, .realfactory-bullet-anchor a.current-menu-item{ border-color: #ffffff; }.realfactory-bullet-anchor a:hover:before, .realfactory-bullet-anchor a.current-menu-item:before{ background: #ffffff; } 
.realfactory-body .realfactory-main-menu-right-button{ color: #333333; } 
.realfactory-body .realfactory-main-menu-right-button{ border-color: #333333; } 
.realfactory-body .realfactory-main-menu-right-button:hover{ color: #555555; } 
.realfactory-body .realfactory-main-menu-right-button:hover{ border-color: #555555; } 
.realfactory-body-outer-wrapper, body.realfactory-full .realfactory-body-wrapper{ background-color: #ffffff; } 
body.realfactory-boxed .realfactory-body-wrapper, .gdlr-core-page-builder .gdlr-core-page-builder-body.gdlr-core-pb-livemode{ background-color: #ffffff; } 
.realfactory-page-title-wrap .realfactory-page-title{ color: #ffffff; } 
.realfactory-page-title-wrap .realfactory-page-caption{ color: #ffffff; }.realfactory-page-title-wrap .realfactory-page-caption .woocommerce-breadcrumb, .realfactory-page-title-wrap .realfactory-page-caption .woocommerce-breadcrumb a{ color: #ffffff; } 
.realfactory-page-title-wrap .realfactory-page-title-overlay{ background-color: #000000; } 
.realfactory-body, .realfactory-body span.wpcf7-not-valid-tip{ color: #727272; } 
.realfactory-body h1, .realfactory-body h2, .realfactory-body h3, .realfactory-body h4, .realfactory-body h5, .realfactory-body h6{ color: #383838; }.woocommerce table.shop_attributes th, .woocommerce table.shop_table th, .single-product.woocommerce div.product .product_meta .realfactory-head{ color: #383838; } 
.realfactory-body a{ color: #545454; } 
.realfactory-body a:hover{ color: #333333; } 
.realfactory-body *{ border-color: #e6e6e6; }.gdlr-core-columnize-item .gdlr-core-columnize-item-content{ column-rule-color: #e6e6e6; -moz-column-rule-color: #e6e6e6; -webkit-column-rule-color: #e6e6e6; } 
.realfactory-body input, .realfactory-body textarea{ background-color: #ffffff; } 
.realfactory-body input, .realfactory-body textarea{ border-color: #d7d7d7; } 
.realfactory-body input, .realfactory-body textarea{ color: #4e4e4e; } 
.realfactory-body ::-webkit-input-placeholder{  color: #4e4e4e; }.realfactory-body ::-moz-placeholder{  color: #4e4e4e; }.realfactory-body :-ms-input-placeholder{  color: #4e4e4e; }.realfactory-body :-moz-placeholder{  color: #4e4e4e; } 
.realfactory-not-found-wrap{ background-color: #23618e; } 
.realfactory-not-found-wrap .realfactory-not-found-head{ color: #ffffff; } 
.realfactory-not-found-wrap .realfactory-not-found-title{ color: #ffffff; } 
.realfactory-not-found-wrap .realfactory-not-found-caption{ color: #c3e7ff; } 
.realfactory-not-found-wrap form.search-form input.search-field{ background-color: #000000; background-color: rgba(0, 0, 0, 0.4) } 
.realfactory-not-found-wrap form.search-form input.search-field, .realfactory-not-found-wrap .realfactory-top-search-submit{ color: #ffffff; } .realfactory-not-found-wrap input::-webkit-input-placeholder { color: #ffffff; } .realfactory-not-found-wrap input:-moz-placeholder{ color: #ffffff; } .realfactory-not-found-wrap input::-moz-placeholder{ color: #ffffff; } .realfactory-not-found-wrap input:-ms-input-placeholder{ color: #ffffff; } 
.realfactory-not-found-wrap .realfactory-not-found-back-to-home a, .realfactory-not-found-wrap .realfactory-not-found-back-to-home a:hover{ color: #ffffff; } 
.realfactory-sidebar-area .realfactory-widget-title{ color: #161616; } 
.realfactory-sidebar-area a{ color: #a3a3a3; }.widget_recent_entries ul li:before, .widget_recent_comments ul li:before, .widget_pages ul li:before, .widget_rss ul li:before, .widget_archive ul li:before, .widget_categories ul li:before, .widget_nav_menu ul li:before, .widget_meta ul li:before{ color: #a3a3a3; } 
.realfactory-sidebar-area a:hover, .realfactory-sidebar-area .current-menu-item > a{ color: #ddb42c; } 
.gdlr-core-recent-post-widget .gdlr-core-blog-info i{ color: #9c9c9c; } 
.gdlr-core-recent-post-widget .gdlr-core-blog-info, .gdlr-core-recent-post-widget .gdlr-core-blog-info a, .gdlr-core-recent-post-widget .gdlr-core-blog-info a:hover{ color: #a0a0a0; } 
.gdlr-core-post-slider-widget-overlay .gdlr-core-post-slider-widget-title{ color: #ffffff; } 
.gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info, .gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info i, .gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info a, .gdlr-core-post-slider-widget-overlay .gdlr-core-blog-info a:hover{ color: #9c9c9c; } 
.widget_search input.search-field{ color: #b5b5b5; }.widget_search input::-webkit-input-placeholder { color: #b5b5b5; }.widget_search input:-moz-placeholder{ color: #b5b5b5; }.widget_search input::-moz-placeholder{ color: #b5b5b5; }.widget_search input:-ms-input-placeholder{ color: #b5b5b5; } 
.widget_search input.search-field{ border-color: #e0e0e0; } 
.widget_search form:after{ border-color: #c7c7c7; } 
ul.gdlr-core-twitter-widget-wrap li:before{ color: #303030; } 
ul.gdlr-core-twitter-widget-wrap li .gdlr-core-twitter-widget-date a, ul.gdlr-core-twitter-widget-wrap li .gdlr-core-twitter-widget-date a:hover{ color: #b5b5b5; } 
.realfactory-footer-wrapper{ background-color: #242424; } 
.realfactory-footer-wrapper .realfactory-widget-title{ color: #f8c12c; } 
.realfactory-footer-wrapper{ color: #f7f7f7; }.realfactory-footer-wrapper .widget_recent_entries ul li:before, .realfactory-footer-wrapper .widget_recent_comments ul li:before, .realfactory-footer-wrapper .widget_pages ul li:before, .realfactory-footer-wrapper .widget_rss ul li:before, .realfactory-footer-wrapper .widget_archive ul li:before, .realfactory-footer-wrapper .widget_categories ul li:before, .widget_nav_menu ul li:before, .realfactory-footer-wrapper .widget_meta ul li:before{ color: #f7f7f7; } 
.realfactory-footer-wrapper a{ color: #b2b2b2; } 
.realfactory-footer-wrapper a:hover{ color: #f8c12c; } 
.realfactory-footer-wrapper, .realfactory-footer-wrapper *{ border-color: #474747; } 
.realfactory-copyright-wrapper{ background-color: #131313; } 
.realfactory-copyright-wrapper{ color: #838383; } 
.realfactory-footer-back-to-top-button{ background-color: #dbdbdb; } 
.realfactory-footer-back-to-top-button{ color: #313131; } 
.realfactory-body .realfactory-blog-title-wrap .realfactory-single-article-title{ color: #ffffff; } 
.realfactory-body .realfactory-blog-title-wrap .realfactory-blog-info-wrapper, .realfactory-body .realfactory-blog-title-wrap .realfactory-blog-info-wrapper a, .realfactory-body .realfactory-blog-title-wrap .realfactory-blog-info-wrapper a:hover, .realfactory-body .realfactory-blog-title-wrap .realfactory-blog-info-wrapper i{ color: #ffffff; } 
.realfactory-body .realfactory-blog-title-wrap .realfactory-single-article-date-day{ color: #ffffff; } 
.realfactory-body .realfactory-blog-title-wrap .realfactory-single-article-date-month{ color: #d8d8d8; } 
.realfactory-body .realfactory-blog-title-wrap .realfactory-single-article-date-wrapper{ border-color: #ffffff; } 
.realfactory-blog-title-wrap .realfactory-blog-title-overlay{ background-color: #000000; } 
.realfactory-single-author .realfactory-single-author-title a, .realfactory-single-author .realfactory-single-author-title a:hover{ color: #464646; } 
.realfactory-single-author .realfactory-single-author-caption{ color: #b1b1b1; } 
.realfactory-single-nav a, .realfactory-single-nav a:hover{ color: #bcbcbc; } 
.realfactory-comments-area .realfactory-comments-title, .realfactory-comments-area .comment-author, .realfactory-comments-area .comment-reply-title{ color: #464646; } 
.realfactory-comments-area .comment-reply a, .realfactory-comments-area .comment-reply a:hover{ color: #2b2b2b; } 
.realfactory-comments-area .comment-time a, .realfactory-comments-area .comment-time a:hover{ color: #b1b1b1; } 
.gdlr-core-blog-title a, .realfactory-body .realfactory-single-article-title, .realfactory-body .realfactory-single-article-title a{ color: #343434; } 
.gdlr-core-blog-title a:hover, .realfactory-body .realfactory-single-article-title a:hover{ color: #f1bf37; } 
.gdlr-core-sticky-banner, .realfactory-sticky-banner{ color: #262626; } 
.gdlr-core-sticky-banner, .realfactory-sticky-banner{ background-color: #f1bf37; } 
.realfactory-single-article .realfactory-blog-info-wrapper, .realfactory-single-article .realfactory-blog-info-wrapper a, .realfactory-single-article .realfactory-blog-info-wrapper a:hover, .gdlr-core-blog-info-wrapper, .gdlr-core-blog-info-wrapper a, .gdlr-core-blog-info-wrapper a:hover, .gdlr-core-blog-grid .gdlr-core-blog-info-date a{ color: #959595; } 
.realfactory-single-article .realfactory-blog-info-wrapper i, .gdlr-core-blog-info-wrapper i{ color: #f1bf37; } 
.gdlr-core-blog-date-wrapper .gdlr-core-blog-date-day, .realfactory-single-article .realfactory-single-article-date-day{ color: #353535; } 
.gdlr-core-blog-date-wrapper .gdlr-core-blog-date-month, .realfactory-single-article .realfactory-single-article-date-month{ color: #9b9b9b; } 
.realfactory-body .gdlr-core-blog-date-wrapper, .realfactory-body .realfactory-single-article-date-wrapper{ border-color: #f8c12c; } 
.gdlr-core-blog-grid-frame, .gdlr-core-blog-full-frame, .gdlr-core-blog-list-frame{ background-color: #ffffff; } 
.gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper, .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper a, .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-info-wrapper i, .gdlr-core-blog-modern.gdlr-core-with-image .gdlr-core-blog-title a{ color: #ffffff; } .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-info-wrapper, .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-info-wrapper a, .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-info-wrapper i, .gdlr-core-blog-metro.gdlr-core-with-image .gdlr-core-blog-title a{ color: #ffffff; } 
.realfactory-blog-aside-format .realfactory-single-article-content, .gdlr-core-blog-aside-format .gdlr-core-blog-content{ background-color: #f2bd2b; }.realfactory-blog-quote-format .realfactory-single-article-content, .gdlr-core-blog-quote-format .gdlr-core-blog-content{ background-color: #f2bd2b; } 
.realfactory-blog-aside-format .realfactory-single-article-content, .gdlr-core-blog-aside-format .gdlr-core-blog-content{ color: #ffffff; }.realfactory-blog-quote-format .realfactory-single-article-content blockquote, .realfactory-blog-quote-format .realfactory-single-article-content q, .realfactory-blog-quote-format .realfactory-single-article-content, .gdlr-core-blog-quote-format .gdlr-core-blog-content blockquote,.gdlr-core-blog-quote-format .gdlr-core-blog-content q,.gdlr-core-blog-quote-format .gdlr-core-blog-content{ color: #ffffff; } 
.gdlr-core-pagination a{ background-color: #f0f0f0; } 
.gdlr-core-pagination a{ color: #828282; } 
.gdlr-core-pagination a:hover, .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-pagination span{ background-color: #190000; } 
.gdlr-core-pagination a:hover, .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-pagination span{ color: #ffffff; } 
.gdlr-core-pagination.gdlr-core-with-border a{ color: #b4b4b4; border-color: #b4b4b4; }.gdlr-core-pagination.gdlr-core-style-plain a, .gdlr-core-pagination.gdlr-core-style-plain a:before, .gdlr-core-pagination.gdlr-core-style-plain span:before{ color: #b4b4b4; } 
.gdlr-core-pagination.gdlr-core-with-border a:hover, .gdlr-core-pagination.gdlr-core-with-border a.gdlr-core-active, .gdlr-core-pagination.gdlr-core-with-border span{ color: #424242; border-color: #424242; }.gdlr-core-pagination.gdlr-core-style-plain a:hover, .gdlr-core-pagination.gdlr-core-style-plain a.gdlr-core-active, .gdlr-core-pagination.gdlr-core-style-plain span{ color: #424242; } 
.gdlr-core-portfolio-single-nav, .gdlr-core-portfolio-single-nav a, .gdlr-core-portfolio-single-nav a:hover{ color: #bcbcbc; } 
.gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-title a{ color: #191919; } 
.gdlr-core-port-info-item .gdlr-core-port-info-key, .gdlr-core-port-info2 .gdlr-core-port-info2-key{ color: #343434; } 
.gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info, .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info a, .gdlr-core-portfolio-content-wrap .gdlr-core-portfolio-info a:hover{ color: #898989; } 
.gdlr-core-portfolio-badge{ color: #ffffff; } 
.gdlr-core-portfolio-badge{ background-color: #e24a3b; } 
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-icon, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-title a, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-title a:hover{ color: #ffffff; } 
.gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info a, .gdlr-core-portfolio-thumbnail .gdlr-core-portfolio-info a:hover{ color: #cecece; } 
.gdlr-core-filterer-wrap.gdlr-core-style-text a{ color: #aaaaaa; } 
.gdlr-core-filterer-wrap.gdlr-core-style-text a:hover, .gdlr-core-filterer-wrap.gdlr-core-style-text a.gdlr-core-active{ color: #747474; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a{ color: #838383; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a{ background-color: #f1f1f1; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a:hover, .gdlr-core-filterer-wrap.gdlr-core-style-button a.gdlr-core-active{ color: #ffffff; } 
.gdlr-core-filterer-wrap.gdlr-core-style-button a:hover, .gdlr-core-filterer-wrap.gdlr-core-style-button a.gdlr-core-active{ background-color: #f2bd2b; } 
.gdlr-core-price-table-item .gdlr-core-price-table{ background-color: #f8f8f8; } 
.gdlr-core-price-table .gdlr-core-price-table-head{ background-color: #3e3e3e; background: -webkit-linear-gradient(#525252, #3e3e3e); background: -o-linear-gradient(#525252, #3e3e3e); background: -moz-linear-gradient(#525252, #3e3e3e); background: linear-gradient(#525252, #3e3e3e); } 
.gdlr-core-price-table .gdlr-core-price-table-icon{ color: #ffffff; } 
.gdlr-core-price-table .gdlr-core-price-table-title{ color: #ffffff; } 
.gdlr-core-price-table .gdlr-core-price-table-caption{ color: #acacac; } 
.gdlr-core-price-table .gdlr-core-price-table-price{ background-color: #ebebeb; } 
.gdlr-core-price-table .gdlr-core-price-table-price-number, .gdlr-core-price-table .gdlr-core-price-prefix{ color: #323232; } 
.gdlr-core-price-table .gdlr-core-price-suffix{ color: #acacac; } 
.gdlr-core-price-table .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ color: #ffffff; } 
.gdlr-core-price-table .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ background-color: #575757; background: -webkit-linear-gradient(#414141, #575757); background: -o-linear-gradient(#414141, #575757); background: -moz-linear-gradient(#414141, #575757); background: linear-gradient(#414141, #575757); } 
.gdlr-core-price-table .gdlr-core-price-table-content *{ border-color: #e5e5e5; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-head{ background-color: #e8b62d; background: -webkit-linear-gradient(#e8c35f, #e8b62d); background: -o-linear-gradient(#e8c35f, #e8b62d); background: -moz-linear-gradient(#e8c35f, #e8b62d); background: linear-gradient(#e8c35f, #e8b62d); } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-icon{ color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-title{ color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-caption{ color: #fff5c1; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-price{ background-color: #ececec; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-price-number, .gdlr-core-price-table .gdlr-core-price-prefix{ color: #323232; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-suffix{ color: #acacac; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ color: #ffffff; } 
.gdlr-core-price-table.gdlr-core-active .gdlr-core-price-table-button, .gdlr-core-price-table .gdlr-core-price-table-button:hover{ background-color: #e8b62d; background: -webkit-linear-gradient(#e8c668, #e8b62d); background: -o-linear-gradient(#e8c668, #e8b62d); background: -moz-linear-gradient(#e8c668, #e8b62d); background: linear-gradient(#e8c668, #e8b62d); } 
.gdlr-core-accordion-style-icon .gdlr-core-accordion-item-icon, .gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-icon, .gdlr-core-toggle-box-style-icon .gdlr-core-toggle-box-item-icon, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-icon{ color: #191919; } 
.gdlr-core-accordion-style-icon .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-icon .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-title{ color: #191919; } 
.gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-icon, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-icon{ background-color: #f8c12c; }.gdlr-core-accordion-style-box-icon .gdlr-core-accordion-item-icon, .gdlr-core-toggle-box-style-box-icon .gdlr-core-toggle-box-item-icon{ border-color: #f8c12c; } 
.gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title:before, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-accordion-item-title:before{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-toggle-box-item-title{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-toggle-box-item-title{ background-color: #f3f3f3; } 
.gdlr-core-accordion-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title:before, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title:before{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-active .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-active .gdlr-core-toggle-box-item-title{ color: #191919; } 
.gdlr-core-accordion-style-background-title .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-accordion-style-background-title-icon .gdlr-core-active .gdlr-core-accordion-item-title, .gdlr-core-toggle-box-style-background-title .gdlr-core-active .gdlr-core-toggle-box-item-title, .gdlr-core-toggle-box-style-background-title-icon .gdlr-core-active .gdlr-core-toggle-box-item-title{ background-color: #f3f3f3; } 
.gdlr-core-audio, .gdlr-core-audio .mejs-container .mejs-controls{ background-color: #e7e7e7; } 
.gdlr-core-audio .mejs-container .mejs-controls .mejs-volume-button:before, .gdlr-core-audio .mejs-container .mejs-controls .mejs-playpause-button:before, .gdlr-core-audio .mejs-container .mejs-controls .mejs-time{ color: #202020; } 
.gdlr-core-audio .mejs-controls .mejs-time-rail .mejs-time-total, .gdlr-core-audio .mejs-controls .mejs-time-rail .mejs-time-loaded{ background-color: #afafaf; } 
.gdlr-core-audio .mejs-controls .mejs-time-rail .mejs-time-current{ background-color: #e8b62d; } 
.gdlr-core-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{ background-color: #afafaf; } 
.gdlr-core-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{ background-color: #646464; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-inner{ background-color: #ef5e68; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-inner{ border-color: #cd515a; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-inner{ color: #ffffff; } 
.gdlr-core-alert-box-item .gdlr-core-alert-box-item-title{ color: #ffffff; } 
blockquote, q{ color: #777777; } 
blockquote, q{ background-color: #f5f5f5; } 
.realfactory-body blockquote, .realfactory-body q{ border-color: #e2e2e2; } 
.gdlr-core-blockquote-item-quote{ color: #4e4e4e; } 
.gdlr-core-blockquote-item-content, .gdlr-core-blockquote-item-author{ color: #4e4e4e; } 
.gdlr-core-body .gdlr-core-load-more, .gdlr-core-body .gdlr-core-button, .realfactory-body .realfactory-button, .realfactory-body input[type="button"], .realfactory-body input[type="submit"]{ color: #ffffff; } 
.gdlr-core-body .gdlr-core-load-more:hover, .gdlr-core-body .gdlr-core-button:hover{ color: #ffffff; } 
.gdlr-core-body .gdlr-core-load-more, .gdlr-core-body .gdlr-core-button, .realfactory-body .realfactory-button, .realfactory-body input[type="button"], .realfactory-body input[type="submit"]{ background-color: #2F2F2F; } 
.gdlr-core-body .gdlr-core-load-more:hover, .gdlr-core-body .gdlr-core-button:hover{ background-color: #2F2F2F; } 
.gdlr-core-body .gdlr-core-button-with-border{ border-color: #383838; } .gdlr-core-body .gdlr-core-button-with-border.gdlr-core-button-transparent{ color: #383838; } 
.gdlr-core-body .gdlr-core-button-with-border:hover{ border-color: #000000; }.gdlr-core-body .gdlr-core-button-with-border.gdlr-core-button-transparent:hover{ color: #000000; } 
.gdlr-core-body .gdlr-core-button.gdlr-core-button-gradient{ background-color: #e8b62d; background: -webkit-linear-gradient(#e8c158, #e8b62d); background: -o-linear-gradient(#e8c158, #e8b62d); background: -moz-linear-gradient(#e8c158, #e8b62d); background: linear-gradient(#e8c158, #e8b62d); } 
.gdlr-core-call-to-action-item-title{ color: #2c2c2c; } 
.gdlr-core-call-to-action-item-caption{ color: #535353; } 
.gdlr-core-counter-item-top-text{ color: #828282; } 
.gdlr-core-counter-item-top-icon{ color: #393939; } 
.gdlr-core-counter-item-number{ color: #393939; } 
.gdlr-core-counter-item-divider{ border-color: #393939; } 
.gdlr-core-counter-item-bottom-text{ color: #393939; } 
.gdlr-core-column-service-item .gdlr-core-column-service-icon{ color: #9d9d9d; } 
.gdlr-core-column-service-item .gdlr-core-icon-style-round i{ background-color: #f3f3f3; } 
.gdlr-core-column-service-item .gdlr-core-column-service-title{ color: #383838; } 
.gdlr-core-column-service-item .gdlr-core-column-service-caption{ color: #747474; } 
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-title, .gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-head-wrap{ background-color: #212121; } 
.gdlr-core-dropdown-tab .gdlr-core-dropdown-tab-title{ color: #f7c02e; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-front, .gdlr-core-flipbox-item .gdlr-core-flipbox-back, .gdlr-core-feature-box-item .gdlr-core-feature-box{ background-color: #e8b62d; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-front, .gdlr-core-flipbox-item .gdlr-core-flipbox-back, .gdlr-core-flipbox-item .gdlr-core-flipbox-frame, .gdlr-core-feature-box-item .gdlr-core-feature-box, .gdlr-core-feature-box-item .gdlr-core-feature-box-frame{ border-color: #d39d1d; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-icon, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-icon{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-title, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-title{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-caption, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-caption{ color: #ffffff; } 
.gdlr-core-flipbox-item .gdlr-core-flipbox-item-content, .gdlr-core-feature-box-item .gdlr-core-feature-box-item-content{ color: #ffffff; } 
.gdlr-core-image-overlay.gdlr-core-gallery-image-overlay .gdlr-core-image-overlay-title{ color: #ffffff; } 
.gdlr-core-image-overlay.gdlr-core-gallery-image-overlay .gdlr-core-image-overlay-caption{ color: #cecece; } 
.gdlr-core-image-overlay{ background-color: #000000; background-color: rgba(0, 0, 0, 0.6); } 
.gdlr-core-image-overlay-content, .gdlr-core-image-overlay-content a, .gdlr-core-image-overlay-icon{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin] .gdlr-core-image-overlay-icon, .gdlr-core-page-builder-body .gdlr-core-pbf-column[data-skin] .gdlr-core-image-overlay-icon{ color: #ffffff; } 
.gdlr-core-body .gdlr-core-image-item-wrap{ border-color: #000000; } 
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-title{ color: #343434; } 
.gdlr-core-block-item-title-wrap .gdlr-core-block-item-caption{ color: #747474; } 
.gdlr-core-block-item-title-wrap a, .gdlr-core-block-item-title-wrap a:hover{ color: #747474; } 
.gdlr-core-icon-list-item i{ color: #222222; } 
.gdlr-core-icon-list-with-background-round .gdlr-core-icon-list-icon-wrap, .gdlr-core-icon-list-with-background-circle .gdlr-core-icon-list-icon-wrap{ color: #f3f3f3; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-day{ color: #a5a5a5; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-open{ color: #262626; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-close{ color: #c8c8c8; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-time i{ color: #8a8989; } 
.gdlr-core-opening-hour-item .gdlr-core-opening-hour-list-item{ border-color: #a6a6a6; } 
.gdlr-core-personnel-style-grid .gdlr-core-personnel-list-title, .gdlr-core-personnel-style-grid .gdlr-core-personnel-list-title a{ color: #383838; } 
.gdlr-core-personnel-style-grid .gdlr-core-personnel-list-position{ color: #888888; } 
.gdlr-core-personnel-style-grid .gdlr-core-personnel-list-divider{ color: #cecece; } 
.gdlr-core-personnel-style-grid.gdlr-core-with-background .gdlr-core-personnel-list-content-wrap{ background-color: #f9f9f9; } 
.gdlr-core-personnel-style-modern .gdlr-core-personnel-list-title, .gdlr-core-personnel-style-modern .gdlr-core-personnel-list-title a{ color: #ffffff; } 
.gdlr-core-personnel-style-modern .gdlr-core-personnel-list-position{ color: #ffffff; } 
.gdlr-core-promo-box-item .gdlr-core-promo-box-item-title{ color: #383838; } 
.gdlr-core-promo-box-item .gdlr-core-promo-box-content-wrap{ border-color: #e8e7e7; } 
.gdlr-core-post-slider-item .gdlr-core-post-slider-title a{ color: #ffffff; } 
.gdlr-core-post-slider-item .gdlr-core-blog-info, .gdlr-core-post-slider-item .gdlr-core-blog-info a{ color: #c5c5c5; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-title, .gdlr-core-skill-bar-item .gdlr-core-skill-bar-right{ color: #505050; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-icon{ color: #616161; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-progress{ background-color: #f3f3f3; } 
.gdlr-core-skill-bar-item .gdlr-core-skill-bar-filled{ background-color: #e8b62d; } 
.gdlr-core-flexslider-nav .flex-direction-nav li a, .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ color: #a7a7a7; border-color: #a7a7a7; } 
.gdlr-core-flexslider-nav.gdlr-core-round-style li a{ background-color: #f1f1f1; } 
.gdlr-core-flexslider .flex-control-nav li a{ border-color: #8a8a8a; }.gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #8a8a8a; } 
.gdlr-core-social-share-item a{ color: #202020; } 
.gdlr-core-social-share-item .gdlr-core-divider{ border-color: #e5e5e5; } 
.gdlr-core-social-share-item .gdlr-core-social-share-count{ color: #202020; } 
.gdlr-core-stunning-text-item-caption{ color: #747474; } 
.gdlr-core-stunning-text-item-title{ color: #383838; } 
.gdlr-core-tab-item-title{ color: #8d8d8d; } 
.gdlr-core-tab-style1-horizontal .gdlr-core-tab-item-title, .gdlr-core-tab-style1-vertical .gdlr-core-tab-item-title{ background-color: #f7f7f7; } 
.gdlr-core-tab-item-title-wrap, .gdlr-core-tab-item-content-wrap, .gdlr-core-tab-item-title{ border-color: #ebebeb; } 
.gdlr-core-tab-item-title-line{ border-color: #e8b62d; } 
.gdlr-core-tab-item-title.gdlr-core-active{ color: #464646; } 
.gdlr-core-tab-style1-horizontal .gdlr-core-tab-item-title.gdlr-core-active, .gdlr-core-tab-style1-vertical .gdlr-core-tab-item-title.gdlr-core-active{ background-color: #ffffff; } 
table tr th{ background-color: #e8b62d; } 
table tr th{ color: #0c0c0c; } 
table tr:nth-child(odd){ background-color: #f9f9f9; } 
table tr:nth-child(odd){ color: #949494; } 
table tr:nth-child(even){ background-color: #f3f3f3; } 
table tr:nth-child(even){ color: #949494; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-item-title{ color: #232323; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-content{ color: #707070; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-title{ color: #3b3b3b; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-position{ color: #3b3b3b; } 
.gdlr-core-testimonial-item .gdlr-core-testimonial-quote{ color: #282828; } 
.gdlr-core-title-item .gdlr-core-title-item-title, .gdlr-core-title-item .gdlr-core-title-item-title a{ color: #383838; } 
.gdlr-core-title-item .gdlr-core-title-item-caption{ color: #747474; } 
.woocommerce .star-rating span, .single-product.woocommerce #review_form #respond p.stars a, .single-product.woocommerce div.product .product_meta, .single-product.woocommerce div.product .product_meta a{ color: #e8b62d; }.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, html .woocommerce input.button, html .woocommerce span.onsale{ background-color: #e8b62d; } 
span.woocommerce-Price-amount.amount{ color: #e8b62d; } 
.woocommerce .price del, .gdlr-core-product-price del, del span.woocommerce-Price-amount.amount{ color: #949494; } 
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{ background-color: #e8b62d; } 
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{ color: #ffffff; } 
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{ color: #ffffff; } 
.single-product.woocommerce div.product .quantity .qty, #add_payment_method #payment, .woocommerce-checkout #payment, .single-product.woocommerce #reviews #comments ol.commentlist li{ background-color: #f3f3f3; } 
.gdlr-core-product-grid .gdlr-core-product-title a{ color: #191919; } 
.gdlr-core-product-grid .gdlr-core-product-title a:hover{ color: #434343; } 
.gdlr-core-product-thumbnail .gdlr-core-product-view-detail, .gdlr-core-product-thumbnail .gdlr-core-product-view-detail:hover{ color: #ffffff; } 
.gdlr-core-product-thumbnail .gdlr-core-product-view-detail{ background-color: #000000; background-color: rgba(0, 0, 0, 0.9); } 
.gdlr-core-product-thumbnail .added_to_cart, .gdlr-core-product-thumbnail .added_to_cart:hover, .gdlr-core-product-thumbnail .gdlr-core-product-add-to-cart, .gdlr-core-product-thumbnail .gdlr-core-product-add-to-cart:hover{ color: #ffffff; } 
.gdlr-core-product-thumbnail .added_to_cart, .gdlr-core-product-thumbnail .gdlr-core-product-add-to-cart{ background-color: #e8b62d; background-color: rgba(232, 182, 45, 0.9); } 
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{ background-color: #d6d6d6; } 
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{ background-color: #eaeaea; } 
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{ background-color: #cccccc; } 
.gdlr-core-page-builder-body [data-skin="Dark"] h1, .gdlr-core-page-builder-body [data-skin="Dark"] h2, .gdlr-core-page-builder-body [data-skin="Dark"] h3, .gdlr-core-page-builder-body [data-skin="Dark"] h4, .gdlr-core-page-builder-body [data-skin="Dark"] h5, .gdlr-core-page-builder-body [data-skin="Dark"] h6, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-caption a{ color: #c4c4c4 }
.gdlr-core-page-builder-body [data-skin="Dark"], .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-content{ color: #d8d8d8 }
.gdlr-core-page-builder-body [data-skin="Dark"] i, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="Dark"] .realfactory-widget ul li:before{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] a, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-link{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Dark"] a:hover, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-link:hover{ color: #e6b52f }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-skin-e-background{ background-color: #ffffff }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider .flex-control-nav li a{ border-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color{ color: #e6b52f }.gdlr-core-page-builder-body [data-skin="Dark"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Dark"] input[type="submit"]{ color: #e6b52f; }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a{ color: #e6b52f }
.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-button-color{ border-color: #e6b52f }.gdlr-core-page-builder-body [data-skin="Dark"] .gdlr-core-pagination a{ border-color: #e6b52f }
.gdlr-core-page-builder-body [data-skin="Call to action"] h1, .gdlr-core-page-builder-body [data-skin="Call to action"] h2, .gdlr-core-page-builder-body [data-skin="Call to action"] h3, .gdlr-core-page-builder-body [data-skin="Call to action"] h4, .gdlr-core-page-builder-body [data-skin="Call to action"] h5, .gdlr-core-page-builder-body [data-skin="Call to action"] h6, .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-skin-title a{ color: #e6b52f }
.gdlr-core-page-builder-body [data-skin="Call to action"], .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-skin-content{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Call to action"] a, .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-skin-link{ color: #ebb727 }
.gdlr-core-page-builder-body [data-skin="Call to action"] a:hover, .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-skin-link:hover{ color: #cc9322 }
.gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-button-color{ color: #e6b52f }.gdlr-core-page-builder-body [data-skin="Call to action"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Call to action"] input[type="submit"]{ color: #e6b52f; }.gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-pagination a{ color: #e6b52f }
.gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-button-color{ background-color: #ffffff }.gdlr-core-page-builder-body [data-skin="Call to action"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Call to action"] input[type="submit"]{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Call to action"] .gdlr-core-pagination a{ background-color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button-color{ color: #f8c12c }.gdlr-core-page-builder-body [data-skin="Double Button"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Double Button"] input[type="submit"]{ color: #f8c12c; }.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-pagination a{ color: #f8c12c }
.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button-color.gdlr-core-active{ color: #f8c12c }.gdlr-core-page-builder-body [data-skin="Double Button"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="Double Button"] input[type="submit"]:hover{ color: #f8c12c; }.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-pagination span{ color: #f8c12c }
.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button-color{ background-color: #2d2d2d }.gdlr-core-page-builder-body [data-skin="Double Button"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Double Button"] input[type="submit"]{ background-color: #2d2d2d; }.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-pagination a{ background-color: #2d2d2d }
.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-button-color{ border-color: #f8c12c }.gdlr-core-page-builder-body [data-skin="Double Button"] .gdlr-core-pagination a{ border-color: #f8c12c }
button-border-hover-color
.gdlr-core-page-builder-body [data-skin="White Text"] h1, .gdlr-core-page-builder-body [data-skin="White Text"] h2, .gdlr-core-page-builder-body [data-skin="White Text"] h3, .gdlr-core-page-builder-body [data-skin="White Text"] h4, .gdlr-core-page-builder-body [data-skin="White Text"] h5, .gdlr-core-page-builder-body [data-skin="White Text"] h6, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-caption a{ color: #e5e5e5 }
.gdlr-core-page-builder-body [data-skin="White Text"], .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-content{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] i, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="White Text"] .realfactory-widget ul li:before{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] a, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-link{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] a:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-link:hover{ color: #dddddd }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-divider{ border-color: #f2f2f2; column-rule-color: #f2f2f2; -moz-column-rule-color: #f2f2f2; -webkit-column-rule-color: #f2f2f2; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider.gdlr-core-nav-style-middle-large .flex-direction-nav li a{ border-color: #f2f2f2 }
.gdlr-core-page-builder-body [data-skin="White Text"] *, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-border{ border-color: #ededed }.gdlr-core-page-builder-body [data-skin="White Text"] input:not([type="button"]):not([type="submit"]):not([type="reset"]){ border-color: #ededed; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-e-background{ background-color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider .flex-control-nav li a{ border-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #ffffff; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-skin-e-content{ color: #3f3f3f }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a i{ color: #3f3f3f; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"], .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color.gdlr-core-active{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]:hover{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination span{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color{ background-color: #191919 }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"], .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]{ background-color: #191919; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a{ background-color: #191919 }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button-color.gdlr-core-active{ background-color: #3a3a3a }.gdlr-core-page-builder-body [data-skin="White Text"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="White Text"] input[type="submit"]:hover{ background-color: #3a3a3a; }.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-pagination span{ background-color: #3a3a3a }
.gdlr-core-page-builder-body [data-skin="Grey"] h1, .gdlr-core-page-builder-body [data-skin="Grey"] h2, .gdlr-core-page-builder-body [data-skin="Grey"] h3, .gdlr-core-page-builder-body [data-skin="Grey"] h4, .gdlr-core-page-builder-body [data-skin="Grey"] h5, .gdlr-core-page-builder-body [data-skin="Grey"] h6, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-title a{ color: #000000 }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-caption a{ color: #8c8c8c }
.gdlr-core-page-builder-body [data-skin="Grey"], .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-content{ color: #a3a3a3 }
.gdlr-core-page-builder-body [data-skin="Grey"] i, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-icon, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-icon:before, .gdlr-core-page-builder-body [data-skin="Grey"] .realfactory-widget ul li:before{ color: #000000 }
.gdlr-core-page-builder-body [data-skin="Grey"] a, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-link{ color: #232323 }
.gdlr-core-page-builder-body [data-skin="Grey"] a:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-skin-link:hover{ color: #7c7c7c }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button-color{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Grey"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Grey"] input[type="submit"]{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button-color.gdlr-core-active{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Grey"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="Grey"] input[type="submit"]:hover{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination span{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button-color{ background-color: #232323 }.gdlr-core-page-builder-body [data-skin="Grey"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Grey"] input[type="submit"]{ background-color: #232323; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination a{ background-color: #232323 }
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button-color:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button-color.gdlr-core-active{ background-color: #232323 }.gdlr-core-page-builder-body [data-skin="Grey"] input[type="button"]:hover, .gdlr-core-page-builder-body [data-skin="Grey"] input[type="submit"]:hover{ background-color: #232323; }.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination a:hover, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination a.gdlr-core-active, .gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-pagination span{ background-color: #232323 }
.gdlr-core-page-builder-body [data-skin="About Counter"] h1, .gdlr-core-page-builder-body [data-skin="About Counter"] h2, .gdlr-core-page-builder-body [data-skin="About Counter"] h3, .gdlr-core-page-builder-body [data-skin="About Counter"] h4, .gdlr-core-page-builder-body [data-skin="About Counter"] h5, .gdlr-core-page-builder-body [data-skin="About Counter"] h6, .gdlr-core-page-builder-body [data-skin="About Counter"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="About Counter"] .gdlr-core-skin-title a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="About Counter"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="About Counter"] .gdlr-core-skin-caption a{ color: #f8c12c }
.gdlr-core-page-builder-body [data-skin="About Counter"], .gdlr-core-page-builder-body [data-skin="About Counter"] .gdlr-core-skin-content{ color: #f8c12c }
.gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] h1, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] h2, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] h3, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] h4, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] h5, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] h6, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] .gdlr-core-skin-title a{ color: #000000 }
.gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] .gdlr-core-skin-caption, .gdlr-core-page-builder-body [data-skin="Portfolio Homepage"] .gdlr-core-skin-caption a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Yellow Link"] a, .gdlr-core-page-builder-body [data-skin="Yellow Link"] .gdlr-core-skin-link{ color: #d8a419 }
.gdlr-core-page-builder-body [data-skin="Yellow Link"] a:hover, .gdlr-core-page-builder-body [data-skin="Yellow Link"] .gdlr-core-skin-link:hover{ color: #f2b91d }
.gdlr-core-page-builder-body [data-skin="Yellow Service"] h1, .gdlr-core-page-builder-body [data-skin="Yellow Service"] h2, .gdlr-core-page-builder-body [data-skin="Yellow Service"] h3, .gdlr-core-page-builder-body [data-skin="Yellow Service"] h4, .gdlr-core-page-builder-body [data-skin="Yellow Service"] h5, .gdlr-core-page-builder-body [data-skin="Yellow Service"] h6, .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-skin-title a{ color: #000000 }
.gdlr-core-page-builder-body [data-skin="Yellow Service"], .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-skin-content{ color: #000000 }
.gdlr-core-page-builder-body [data-skin="Yellow Service"] a, .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-skin-link{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Yellow Service"] a:hover, .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-skin-link:hover{ color: #cecece }
.gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-button-color{ color: #191919 }.gdlr-core-page-builder-body [data-skin="Yellow Service"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Yellow Service"] input[type="submit"]{ color: #191919; }.gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-pagination a{ color: #191919 }
.gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-button-color{ background-color: #ffffff }.gdlr-core-page-builder-body [data-skin="Yellow Service"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Yellow Service"] input[type="submit"]{ background-color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Yellow Service"] .gdlr-core-pagination a{ background-color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Call To action 2"] h1, .gdlr-core-page-builder-body [data-skin="Call To action 2"] h2, .gdlr-core-page-builder-body [data-skin="Call To action 2"] h3, .gdlr-core-page-builder-body [data-skin="Call To action 2"] h4, .gdlr-core-page-builder-body [data-skin="Call To action 2"] h5, .gdlr-core-page-builder-body [data-skin="Call To action 2"] h6, .gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-skin-title, .gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-skin-title a{ color: #000000 }
.gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-button-color{ color: #ffffff }.gdlr-core-page-builder-body [data-skin="Call To action 2"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Call To action 2"] input[type="submit"]{ color: #ffffff; }.gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-pagination a{ color: #ffffff }
.gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-button, .gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-button-color{ background-color: #1e1e1e }.gdlr-core-page-builder-body [data-skin="Call To action 2"] input[type="button"], .gdlr-core-page-builder-body [data-skin="Call To action 2"] input[type="submit"]{ background-color: #1e1e1e; }.gdlr-core-page-builder-body [data-skin="Call To action 2"] .gdlr-core-pagination a{ background-color: #1e1e1e }
.gdlr-core-page-builder-body [data-skin="Blog Homepage"] .gdlr-core-skin-e-background{ background-color: #f7f7f7 }.gdlr-core-page-builder-body [data-skin="Blog Homepage"] .gdlr-core-flexslider-nav.gdlr-core-round-style li a{ background-color: #f7f7f7; }.gdlr-core-page-builder-body [data-skin="Blog Homepage"] .gdlr-core-flexslider .flex-control-nav li a{ border-color: #f7f7f7; }.gdlr-core-page-builder-body [data-skin="Blog Homepage"] .gdlr-core-flexslider .flex-control-nav li a.flex-active{ background-color: #f7f7f7; }
.gdlr-core-page-builder-body [data-skin="White Text"] .gdlr-core-button.gdlr-core-button-gradient{ background: -webkit-linear-gradient(#191919, #3a3a3a); background: -o-linear-gradient(#191919, #3a3a3a);  background: -moz-linear-gradient(#191919, #3a3a3a); background: linear-gradient(#191919, #3a3a3a); } 
.gdlr-core-page-builder-body [data-skin="Grey"] .gdlr-core-button.gdlr-core-button-gradient{ background: -webkit-linear-gradient(#232323, #232323); background: -o-linear-gradient(#232323, #232323);  background: -moz-linear-gradient(#232323, #232323); background: linear-gradient(#232323, #232323); } 

.realfactory-item-mgb, .gdlr-core-item-mgb{ margin-bottom: 30px; }.realfactory-sidebar-left .realfactory-sidebar-area{ padding-right: 40px; }.realfactory-sidebar-right .realfactory-sidebar-area{ padding-left: 40px }.realfactory-sidebar-left .realfactory-sidebar-area{ margin-right: 25px; }.realfactory-sidebar-right .realfactory-sidebar-area{ margin-left: 25px; }